<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Books</title>
</head>
<body>

    <h2>Edit Books</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Average Rating</th>
                <th>Your Rating</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] ~ ' ' ~ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
                <td>{{ entry[5] }}</td>
                <td>{{ entry[6] }}</td>
                <td>
                    <form method="post" action="{{ url_for('edit_book_entries') }}">
                        <input type="hidden" name="selected_entry_id" value="{{ entry[0] }}">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_book_entry', entry_id=entry[0]) }}" style="display: inline;" onsubmit="return confirmDelete()">
                        <input type="hidden" name="selected_entry_id" value="{{ entry[0] }}">
                        <button type="submit">Delete</button>
                    </form>

                    <script>
                        function confirmDelete() {
                            return confirm('Are you sure you want to delete?');
                        }
                    </script>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<a href="{{ url_for('home') }}">Go Back to Main Page</a>
</body>
</html>
