<!DOCTYPE html>
<html>
<head>
    <title>Book Recommender</title>
</head>
<body>
    <h1>Welcome to the Book Recommender!</h1>
    <h2> Please log in... </h2>
    <!-- Your GUI elements go here -->
    <form action="/login" method="post">
    <label for="username">Enter information:</label>
    <input type="text" id="username" name="username">

    <label for="password">Enter information:</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="Submit">
    </form>

</body>
</html>