<!DOCTYPE html>
<html>
<head>
    <title>Book Recommender</title>
</head>
<body>
    <h1>Welcome to the Book Recommender!</h1>
    <!-- Your GUI elements go here -->

    <!-- Book Lookup Submission -->
    <div style="float:left;">
        <h2>Get a Recommendation!</h2>
        <form action="/query" method="post">

        <label for="genre_input">Enter genre:</label>
        <input type="text" id="genre_input" name="genre_input">
            <br> <br>
        <label for="author_input">Enter author:</label>
        <input type="text" id="author_input" name="author_input">

        <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Book Entry -->
    <div style="float:right;">
        <h2>Add Your Book!</h2>
        <form id="add_book" action="/" method="post">
        <label for="newbook_input">Enter book name:</label>
        <input type="text" id="newbook_input" name="newbook_input">
            <br> <br>
        <label for="newauthorfirst_input">Enter author's first name:</label>
        <input type="text" id="newauthorfirst_input" name="newauthorfirst_input">

        <label for="newauthorsecond_input">Enter author's last name:</label>
        <input type="text" id="newauthorsecond_input" name="newauthorsecond_input">
            <br> <br>
            <br> <br>
        <label for="newgenre_input">Enter book's genre:</label>
        <input type="text" id="newgenre_input" name="newgenre_input">


        <input type="submit" value="Submit">
        </form>
        <div id="success-message" style="display: {{ 'block' if success else 'none' }}">Successfully submitted!</div>
    </div>
    <script>
        // JavaScript to display the success message if success is true
        document.addEventListener("DOMContentLoaded", function() {
            const success = {{ success|lower }}; // Convert Python boolean to JavaScript boolean
            const successMessage = document.getElementById("success-message");
            if (success) {
                successMessage.style.display = "block";
            }
        });
    </script>


</body>
</html>