<!DOCTYPE html>
<html>
<head>
    <title>Book Recommender</title>
    <style>
        /* Add styles for better alignment */
        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .form-container div {
            flex: 1;
            margin: 0 10px; /* Adjust margin as needed */
        }

        /* Clear the float after the forms */
        .clear {
            clear: both;
        }
    </style>
</head>
<body>
    <h1> {{ title }} </h1>
    {% if 'user' not in session %}
        <p>For the full experience, please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">create an account</a>.</p>
    {% endif %}

    <!-- Book Lookup Submission -->
    <div class="form-container">
        <div>
            <h2>Get a Recommendation!</h2>
            <form action="/query" method="post">

            <label for="genre_input">Enter genre:</label>
            <input type="text" id="genre_input" name="genre_input">
                <br> <br>
            <label for="author_input">Enter author:</label>
            <input type="text" id="author_input" name="author_input">
                <br> <br>
            <label for="rating_input">Enter rating:</label>
            <input type="text" id="rating_input" name="rating_input">

            <input type="submit" value="Submit">
            </form>
        </div>


        <!-- Book Entry -->
        <div>
            {% if 'user' in session %}
                <h2>Add Your Book!</h2>
                <form id="add_book" action="/" method="post">
                <label for="newbook_input">Enter book name:</label>
                <input type="text" id="newbook_input" name="newbook_input">
                    <br> <br>
                <label for="newauthorfirst_input">Enter author's first name:</label>
                <input type="text" id="newauthorfirst_input" name="newauthorfirst_input">

                <label for="newauthorsecond_input">Enter author's last name:</label>
                <input type="text" id="newauthorsecond_input" name="newauthorsecond_input">
                    <br> <br>
                    <br> <br>
                <label for="newgenre_input">Enter book's genre:</label>
                <input type="text" id="newgenre_input" name="newgenre_input">

                <label for="newrating_input">Enter rating (optional):</label>
                <input type="number" id="newrating_input" name="newrating_input">


                <input type="submit" value="Submit">
                </form>
                <div id="success-message" style="display: {{ 'block' if success else 'none' }}">Successfully submitted!</div>
                <div id="failure-message" style="display: {{ 'block' if alreadyRegistered else 'none' }}">Book already in database!</div>
            {% else %}
                <h2> Please log in to add a book.</h2>
            {% endif %}
        </div>
    </div>
     <div class="clear"></div>

    <script>
        // JavaScript to display the success message if success is true
        document.addEventListener("DOMContentLoaded", function() {
            const success = {{ success }}; // Convert Python boolean to JavaScript boolean
            const alreadyRegistered = {{ alreadyRegistered }};

            const successMessage = document.getElementById("success-message");
            const failureMessage = document.getElementById("failure-message");
            if (success) {
                successMessage.style.display = "block";
            } else if (alreadyRegistered) {
                failureMessage.style.display = "block";
            }
        });
    </script>
    {% if 'user' in session %}
    <br>
    <a href="{{ url_for('edit_book_entries') }}">View and edit all books here!</a>
        <br>
        <br>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}

    <p> Login to submit edits to the book database. </p>
    {% endif %}

</body>
</html>