<!DOCTYPE html>
<html>
<head>
    <title>Book Recommender</title>
</head>
<body>
    <h1>Welcome to the Book Recommender!</h1>
    <h2> Create an Account: </h2>
    <!-- Your GUI elements go here -->
        {% if taken_user_message %}
        <p style="color: green;">{{ taken_user_message | safe }}</p>
        {% endif %}
    <form action="/signup" method="post">
    <label for="username">Enter username:</label>
    <input type="text" id="username" name="username">

    <label for="password">Enter password:</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="Submit">
    </form>
<p>Already have an account? Login <a href="{{ url_for('login') }}">here</a>!</p>
</body>
</html>